#body {
  background-color: #ffdfba;
}

.App {
  padding-bottom: 50px;
}

.title {
  font-family: 'Alfa Slab One', cursive;
  color:#a25116;
  text-shadow: 3px 3px black;
  letter-spacing: 0.2rem;
}

.subtitle {
  font-family: 'Alfa Slab One', cursive;
  color:#a25116;
  text-shadow: 1px 1px black;
  letter-spacing: 0.1rem;
}

.preview, #editor {
  background-color: #ffffba;
  min-height: 60vh;
}

.page {
  justify-content: center;
}

tr{
  border: 1px solid;
}

.preview {
  font-family: 'Inter', sans-serif;
  font-size: smaller;
}

.preview table {
  border: 2px solid black;
  min-width: 75%;
  margin-bottom: 20px;
}

.preview th {
  border: 2px solid black;
}

.preview td {
  border: 1px solid black;
}

.preview blockquote {
    border-left: 10px solid darkslategray;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }

.preview img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .page {
    flex-direction: column;
  }

  #preview, #editorboard, #editor {
    width: 100%;
    margin: 0 auto;
  }
}
